<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Dashboard de Análise</title>
    <style>
        body {
            background-color: #000;
            color: #ccc;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .grafico {
            margin: 40px auto;
            width: 80%;
            background-color: #111;
            border-radius: 15px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <h1>Consulta Planilha Análise de Dados</h1>
    <h3>Aqui você pode visualizar os gráficos gerados automaticamente</h3>

    <div class="grafico">{{ grafico_area|safe }}</div>
    <div class="grafico">{{ grafico_data|safe }}</div>
    <div class="grafico">{{ grafico_resp|safe }}</div>
</body>
</html>
